<div class="codepen">
  <iframe height='{% if include.height %} {{include.height}}{% else %}250{% endif %}' scrolling='no' title='{{ include.title }}' src='//codepen.io/{{ include.username }}/embed/{{include.embedcode}}/?height={% if include.height %} {{include.height}}{% else %}250{% endif %}&theme-id=0&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/{{include.embedcode}}/pen/{{include.embedcode}}/'>Unordered List</a> by {{ include.author }} (<a href='https://codepen.io/{{ include.username }}'>@{{ include.username }}</a>) on <a href='https://codepen.io'>CodePen</a>.
  </iframe>
</div>
